* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.background {
    background-color: lightblue;
    height: 800px;
    width: fit-content;
}

.navbar {
    width: 400px;
    height: 100px;
    display: inline-block;
    position: relative;
    left: 160%;
}

.navbar_ul {
    position: relative;
    right: 70px;
}

.navbar_li {
    display: inline-block;
    padding:0px 50px;
    margin: 0px 3px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top:10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}

.bit {
    border-radius: 50%;
    position:absolute;
    
    left: 35%;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

h1 {
    position: relative;
    top: 61%;
    left: 55%;
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 2.4em;
}

h3 {
    text-align: center;
    position: relative;
    top: 60%;
    left: 55%;
    font-size: 1.3;
    font-family: 'Roboto', sans-serif;
}

.bit1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 10%;
    top:5px;
}

.flowchart {
    background-color: white;
    position: absolute;
    display: inline-block;
    left: 15%;
    top: 40%;
    width: 1000px;
    height: 130px;
}